In [1]:
! pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.1.2-cp312-cp312-win_amd64.whl.metadata (59 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ead\documents\artur\study_dl\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\ead\documents\artur\study_dl\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
Using cached numpy-2.1.2-cp312-cp312-win_amd64.whl (12.6 MB)
Using cached pytz-2024.2-py2.py3-none-any.whl (508 kB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.1.2 pandas-2.2.3 pytz-2024.2 tzdata-2024.2

In [2]:
import pandas as pd

In [23]:
file = "Datasets/DL.csv"
dl_df = pd.read_csv(file, sep=";")

In [24]:
dl_df = dl_df.drop(columns=["Id"])

In [25]:
dl_df

,Class,Gender,Am1,Am2,Am3,Am4,Am5,Am6,Am7,Am8,...,Es6,Es7,Es8,Es9,Es10,Es11,Es12,Es13,Es14,Es15
0,3,1,5,5,5,4,4,4,4,3,...,5,5,5,5,4,5,5,4,5,5
1,3,2,5,3,4,5,4,4,4,3,...,4,4,2,3,2,5,5,5,2,4
2,3,1,4,4,4,4,4,4,4,4,...,4,5,4,4,2,4,5,2,4,5
3,3,2,5,5,5,5,5,5,5,5,...,4,4,5,3,5,3,5,3,3,3
4,3,1,5,3,5,5,5,5,5,4,...,5,3,3,3,5,3,5,1,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,2,1,4,5,5,5,3,3,5,3,...,4,5,3,3,5,5,4,4,5,1
381,2,1,5,5,3,3,4,3,4,4,...,4,4,3,3,3,4,4,3,5,4
382,3,2,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,2,5,5,1
383,3,1,5,5,4,5,4,5,5,4,...,5,5,3,5,5,4,2,4,4,4
384,3,2,4,3,2,5,2,3,3,2,...,4,3,3,4,5,4,4,4,4,3

In [13]:
dl_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 385 entries, 0 to 384
Data columns (total 51 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Gender  385 non-null    int64
 1   Am1     385 non-null    int64
 2   Am2     385 non-null    int64
 3   Am3     385 non-null    int64
 4   Am4     385 non-null    int64
 5   Am5     385 non-null    int64
 6   Am6     385 non-null    int64
 7   Am7     385 non-null    int64
 8   Am8     385 non-null    int64
 9   Am9     385 non-null    int64
 10  Am10    385 non-null    int64
 11  Am11    385 non-null    int64
 12  Am12    385 non-null    int64
 13  Am13    385 non-null    int64
 14  Mp1     385 non-null    int64
 15  Mp2     385 non-null    int64
 16  Mp3     385 non-null    int64
 17  Mp4     385 non-null    int64
 18  Mp5     385 non-null    int64
 19  Mp6     385 non-null    int64
 20  Mp7     385 non-null    int64
 21  Mp8     385 non-null    int64
 22  Mp9     385 non-null    int64
 23  Adm1    385 non-null    int64
 24  Adm2    385 non-null    int64
 25  Adm3    385 non-null    int64
 26  Adm4    385 non-null    int64
 27  Adm5    385 non-null    int64
 28  Adm6    385 non-null    int64
 29  Adm7    385 non-null    int64
 30  Adm8    385 non-null    int64
 31  Adm9    385 non-null    int64
 32  Adm10   385 non-null    int64
 33  Adm11   385 non-null    int64
 34  Adm12   385 non-null    int64
 35  Adm13   385 non-null    int64
 36  Es1     385 non-null    int64
 37  Es2     385 non-null    int64
 38  Es3     385 non-null    int64
 39  Es4     385 non-null    int64
 40  Es5     385 non-null    int64
 41  Es6     385 non-null    int64
 42  Es7     385 non-null    int64
 43  Es8     385 non-null    int64
 44  Es9     385 non-null    int64
 45  Es10    385 non-null    int64
 46  Es11    385 non-null    int64
 47  Es12    385 non-null    int64
 48  Es13    385 non-null    int64
 49  Es14    385 non-null    int64
 50  Es15    385 non-null    int64
dtypes: int64(51)
memory usage: 153.5 KB

In [33]:
dl_df[['Am1', 'Am2', 'Am3', 'Am4', 'Am5', 'Am6', 'Am7', 'Am8', 'Am9', 'Am10', 'Am11', 'Am12', 'Am13']]

     Am1  Am2  Am3  Am4  Am5  Am6  Am7  Am8  Am9  Am10  Am11  Am12  Am13
0      5    5    5    4    4    4    4    3    5     5     5     5     4
1      5    3    4    5    4    4    4    3    5     4     5     4     5
2      4    4    4    4    4    4    4    4    4     4     4     4     4
3      5    5    5    5    5    5    5    5    5     3     4     5     5
4      5    3    5    5    5    5    5    4    4     5     5     5     5
..   ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ...   ...   ...
380    4    5    5    5    3    3    5    3    4     5     4     5     4
381    5    5    3    3    4    3    4    4    4     3     4     5     4
382    5    5    5    5    5    5    5    5    5     5     5     5     5
383    5    5    4    5    4    5    5    4    5     5     5     5     4
384    4    3    2    5    2    3    3    2    1     3     5     2     3

[385 rows x 13 columns]

In [19]:
dl_df.describe()

,Class,Gender,Am1,Am2,Am3,Am4,Am5,Am6,Am7,Am8,...,Es6,Es7,Es8,Es9,Es10,Es11,Es12,Es13,Es14,Es15
count,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,...,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000,385.000000
mean,2.028571,1.462338,4.059740,4.153247,3.883117,4.067532,3.776623,3.992208,3.927273,3.703896,...,4.012987,3.981818,3.937662,3.815584,3.820779,3.820779,3.880519,3.493506,3.610390,3.859740
std,0.823935,0.499228,0.742367,0.710704,0.912500,0.835795,0.830395,0.788882,0.793797,0.794257,...,0.811594,0.775391,0.829947,0.856815,0.881869,0.919457,0.913589,0.924541,0.834726,0.860635
min,1.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,4.000000,4.000000,3.000000,4.000000,3.000000,4.000000,3.000000,3.000000,...,3.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
50%,2.000000,1.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,...,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,4.000000,3.000000,4.000000,4.000000
75%,3.000000,2.000000,5.000000,5.000000,5.000000,5.000000,4.000000,5.000000,5.000000,4.000000,...,5.000000,5.000000,5.000000,4.000000,4.000000,4.000000,5.000000,4.000000,4.000000,4.000000
max,3.000000,2.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,...,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [36]:
def assess_digital_literacy(row):
    # Calculate averages for each category
    Am_avg = row[['Am1', 'Am2', 'Am3', 'Am4', 'Am5', 'Am6', 'Am7', 'Am8', 'Am9', 'Am10', 'Am11', 'Am12', 'Am13']].mean()
    Mp_avg = row[['Mp1', 'Mp2', 'Mp3', 'Mp4', 'Mp5', 'Mp6', 'Mp7', 'Mp8', 'Mp9']].mean()
    Adm_avg = row[['Adm1', 'Adm2', 'Adm3', 'Adm4', 'Adm5', 'Adm6', 'Adm7', 'Adm8', 'Adm9', 'Adm10', 'Adm11', 'Adm12', 'Adm13']].mean()
    Es_avg = row[['Es1', 'Es2', 'Es3', 'Es4', 'Es5', 'Es6', 'Es7', 'Es8', 'Es9', 'Es10', 'Es11', 'Es12', 'Es13', 'Es14', 'Es15']].mean()

    averages = [Am_avg, Mp_avg, Adm_avg, Es_avg]

    # Count how many averages are above or equal to 4 using list comprehension
    count_above_threshold = sum(avg >= 4 for avg in averages)

    # Determine if the student is digitally literate
    return '1' if count_above_threshold >= 3 else '0'

# Apply the function to each row and create a new column
dl_df['Digital_Literacy'] = dl_df.apply(assess_digital_literacy, axis=1)

In [37]:
dl_df

,Class,Gender,Am1,Am2,Am3,Am4,Am5,Am6,Am7,Am8,...,Es7,Es8,Es9,Es10,Es11,Es12,Es13,Es14,Es15,Digital_Literacy
0,3,1,5,5,5,4,4,4,4,3,...,5,5,5,4,5,5,4,5,5,1
1,3,2,5,3,4,5,4,4,4,3,...,4,2,3,2,5,5,5,2,4,0
2,3,1,4,4,4,4,4,4,4,4,...,5,4,4,2,4,5,2,4,5,1
3,3,2,5,5,5,5,5,5,5,5,...,4,5,3,5,3,5,3,3,3,0
4,3,1,5,3,5,5,5,5,5,4,...,3,3,3,5,3,5,1,4,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
380,2,1,4,5,5,5,3,3,5,3,...,5,3,3,5,5,4,4,5,1,0
381,2,1,5,5,3,3,4,3,4,4,...,4,3,3,3,4,4,3,5,4,0
382,3,2,5,5,5,5,5,5,5,5,...,5,5,5,5,5,2,5,5,1,1
383,3,1,5,5,4,5,4,5,5,4,...,5,3,5,5,4,2,4,4,4,1
384,3,2,4,3,2,5,2,3,3,2,...,3,3,4,5,4,4,4,4,3,0